<div class="slick-slide">
    <div class="book carousel__item">
        <div class="book-cover">
            <a href="<%= book.addedBookUrl %>">
                <img class="user-library bookcover" src="<%= book.addedBook %>" alt="<%= book.addedTitle %>">
            </a>
        </div>
    </div>
</div>
